@model IEnumerable<TuneAndCraft.v5.Models.SourceConcepts.Song>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
    <div class="jumbotron">
        <h2 style="color: #B0FDFF;text-align:center">My Songs</h2>
        
        </div>
    <hr />
        
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron">
                <table class="table">
                    <tr>
                        <th style="color: #B0FDFF">
                            @Html.DisplayNameFor(model => model.Playlist.PlaylistName)
                        </th>
                        <th style="color: #B0FDFF">
                            @Html.DisplayNameFor(model => model.SongName)
                        </th>
                        <th style="color: #B0FDFF">
                            @Html.DisplayNameFor(model => model.SourceType)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Playlist.PlaylistName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SongName)
                            </td>
                            <td>
                                @if (item.SourceType == 0)
                                {
                                    <p style="font-size:medium">spotify</p>
                                }
                                else
                                {
                                    <p  style="font-size:medium">youtube</p>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SongID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.SongID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.SongID })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
        <div class="col-md-3">

            <div class="jumbotron">
                <p style="text-align:center;font-size:large">
                    @Html.ActionLink("Create New Youtube", "CreateYoutube")
                </p>
            </div>
            <hr />
            <div class="jumbotron">
                <p style="text-align:center;font-size:large">
                    @Html.ActionLink("Create New Spotify", "SearchSpotify")
                </p>
            </div>
        </div>
    </div>

    
        
